/*************************************************
***************** Main Classes *****************
**************************************************/
.form-control{
    &::placeholder{
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.48) !important;
        font-size: .7rem;
        font-weight: 500;
    }
    &:focus{
        box-shadow: none !important;
    }
}