/*************************************************
******** Main Classes **************************
**************************************************/
.form-control{
    &::placeholder{
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.3) !important;
        font-size: .9rem;
        font-weight: 500;
    }
    &:focus{
        box-shadow: none !important;
    }
}