.cart-container{
    position: fixed;
    z-index: 25;
    right: -700px;
    height: 100vh;
    overflow-y: scroll;
    width: 700px;
    top: 0;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.21);
    transition: right 0.7s ease-in-out;
    .cart-items{ 
        .title{
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;
            border-bottom: 1px solid rgba(74, 105, 189, 1);
            padding: 1rem 0;
            margin-bottom: 1rem;
            color: #4a69bd;
            h2{
                margin: 0;
                align-self: center;
                font-size: 1.5rem;
            }
            .items-no{
                font-size: 0;
                .no{
                    margin-right:0.5rem;
                }
                &>span{
                    font-size: 1.5rem;
                }
                font-size: 1rem;
                font-weight: 500;
                align-self: center;
                margin-right: 5rem;
            }
        }
        .item{
            margin-bottom: 0.5rem;
            border-radius: 10px;
            overflow: hidden;
            &:nth-child(odd){
                background: #f7f9f9;
            }
            &:nth-child(even){
                background: #eee;
            }
            &:last-child{
                margin-bottom: 0 !important;
            }
           
            display: grid;
            grid-template-columns:1fr 5fr 3fr 1fr;
            grid-auto-rows: 95px;
            position: relative;

           .item-img{
               padding: 0.5rem;
               img{
                   width: 100%;
                   height: 100%;
               }
           }
           .item-desc{
                padding: 0.7rem 0.5rem;
                .mini-desc{
                    font-weight: 600;
                    margin-bottom: 0.25rem;
                    text-transform: capitalize;
                }
                .price{
                    display: block;
                    color: red;
                }
                .color{
                    color: #4a69bd;
                    text-transform: capitalize;
                }
           }
           .item-control{
                justify-self: center;
                align-self: center;
    
                display: flex;
                font-weight: bold;
                
                .number{
                    width: 50px;
                    margin: 0 0.5rem;
                    border: 1px solid #4a69bd;
                    color: #4a69bd;
                    font-weight:600;
                    text-align: center;
                }
                i{
                    color: #4a69bd;
                    font-weight: 600;
                    font-size: 1.25rem;
                    padding: 0.5rem;
                    cursor: pointer;
                }
           }
           .remove{
               align-self: center;
               justify-self: center ;
               i{
                    color: red;
                    font-size: 1.5rem;
                    cursor: pointer;
               }
           }
        }
    }
    .checkout{
        padding: 1rem 0;
        button{
            text-transform: capitalize;
            padding: 0.75rem 1.5rem;
            border: 0;
            color: #fff;
            border-radius: 0;
            font-weight: 600;
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            &:hover{
                background: var(--danger);
                outline: 0;
                border: 0;
            }
        }
    }
    &>.close-x{
        left: 100%;
        top: -10px;
        .fa-times{
            font-size: 1.5rem;
            color: #888;
        }
    }
    &.appear{
        right: 0;
    }
}