.cart-container{
    position: fixed;
    z-index: 25;
    right: -800px;
    height: 100vh;
    width: 700px;
    top: 0;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.21);
    transition: right 0.7s ease-in-out;
    &.more-6{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .cart-items{ 
        .title{
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;
            border-bottom: 1px solid var(--blue);
            padding: 1rem 0;
            margin-bottom: 1rem;
            color: var(--blue);
            h2{
                margin: 0;
                align-self: center;
                font-size: 1.5rem;
            }
        }
        .item{
            margin-bottom: 0.5rem;
            border-radius: 10px;
            overflow: hidden;
            &:nth-child(odd){
                background: #f7f9f9;
            }
            &:nth-child(even){
                background: #eee;
            }
            &:last-child{
                margin-bottom: 0 !important;
            }
           
            display: grid;
            grid-template-columns:1fr 5fr 3fr 1fr;
            grid-auto-rows: 95px;
            position: relative;
            @media screen and (max-width:450px){
                grid-template-columns:2fr 4fr;
            }

           .item-img{
               padding: 0.5rem;
               img{
                   width: 100%;
                   height: 100%;
               }
           }
           .item-desc{
                padding: 0.7rem 0.5rem;
                .mini-desc{
                    font-weight: 600;
                    margin-bottom: 0.25rem;
                    text-transform: capitalize;
                }
                .price{
                    display: block;
                    color: var(--blue);
                    font-weight: 600;
                }
                .color{
                    color: var(--blue);
                    text-transform: capitalize;
                    opacity: 0.7;
                    font-size: 0.8rem;
                }
           }
           .item-control{
                justify-self: center;
                align-self: center;
    
                display: flex;
                font-weight: bold;
                
                .number{
                    width: 50px;
                    margin: 0 0.5rem;
                    border: 1px solid var(--blue);
                    color: var(--blue);
                    font-weight:600;
                    text-align: center;
                }
                i{
                    color: var(--blue);
                    font-weight: 600;
                    font-size: 1.25rem;
                    padding: 0.5rem;
                    cursor: pointer;
                }
                @media screen and (max-width:450px){
                    display: none;
                }
           }
           .remove{
               align-self: center;
               justify-self: center ;
               i{
                    color: var(--danger);
                    font-size: 1.5rem;
                    cursor: pointer;
               }
           }
        }
    }
    .checkout{
        padding: 1rem 0;
        a{
            text-transform: capitalize;
            padding: .75rem 1.25rem;
            font-size: 0.9rem;
            outline: 0;
            border: 0;
            color: #fff;
            border-radius: 0;
            font-weight: 600;
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            background: var(--blue);
            &:hover{
                background: var(--danger);
            }
            &:active,
            &:focus{
                box-shadow: none !important;
            }
        }
    }
    &>.close-x{
        left: 95%;
        top: 6px;
        .fa-times{
            font-size: 1.5rem;
            color: var(--blue);
        }
    }
    &.appear{
        right: 0;
    }
    
}