footer{
    padding:4rem 0;
    background: $bgFooterColor;
    .pages{
        .list{
            margin: 0;
            .list-item{
                margin-right: 1rem;
                &:last-child{
                    margin-right: 0;
                }
                &:not(:first-child){
                    align-self: center;
                }
                &.logo{
                    .list-link{
                        color: #fff;
                        font-weight: 600;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }
                    margin-right: 3.5rem;
                }
                .list-link{
                    text-decoration: none;
                    color: #ccc;
                    text-transform: capitalize;
                    transition: color 0.3s ease-in-out;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }
    .order-status,
    .payment-option{
        .list{
            margin: 0;
            .list-item{
                font-size: 0.8rem;
                margin-bottom: 0.25rem;
                &:last-child{
                    margin-bottom: 0;
                }
                .list-link{
                    color: #ccc;
                    font-size: inherit;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: color 0.3s ease-in-out;
                    font-weight: 500;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }
    .subscribe{
        .title{
            color: #fff;
            font-weight: 600;
            font-size: 0.7rem;
            margin-bottom: 2.5rem;
        }
        input{
            border: 0;
            outline: 0;
            border-radius: 0;
            padding-bottom: 0.15rem;
            background: transparent;
            border-bottom: 3px solid #ccc;
            text-transform: capitalize;
            color: #fff;
            &::placeholder{
                color: #ccc;
                font-size: .75rem;
            }
            &:focus{
                border-bottom: 3px solid #fff;
                &::placeholder{
                    color: #eee;
                } 
            }
          
        }
        button{
            color: #ccc;
            border: 0;
            outline: 0;
            background: transparent;
            margin-left: -1.8rem;
            &:focus,
            &:hover{
                border: 0;
                outline: 0;
            }
        }
      
    }
    .social-links{
        .icon{
            position: relative;
            cursor: pointer;
            .tip{
                position: absolute;
                top: -34px;
                left: -27px;
                display: inline-block;
                padding: 0.25rem 0.5rem;
                color: #fff;
                background: #000;
                border-radius: 5px;
                font-size: 0.75rem;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                &:after{
                    content:'';
                    position: absolute;
                    border-bottom:7px solid transparent;
                    border-top:7px solid #000;
                    border-left:7px solid transparent;
                    border-right:7px solid transparent;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            i{
                color: #fff;
                font-size: 1rem;
            }
            margin-right: 1.5rem;
            &:last-child{
                margin-right: 0;
            }
            &:hover .tip{
                visibility: visible;
                opacity: 1;
            }

        }
    }
    .copy-right{
        p{
            width: 85%;
            color: #999;
            font-size: 0.8rem;
            font-weight: thin;
            strong{
                color: #fff;
            }
        }
    }
    
}