.global-sale{
    .sale{
        height: 500px;
        background: url('../img/bg-img/bg-5.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        .sale-content{
            margin-right: 13rem;
            .sale-discount{
                color: var(--danger);
                font-size: 2.5rem;
                font-weight: 600;
            }
            .sale-title{
                margin: 0;
                font-weight: 600;
                font-size: 3.5rem;
            }
            a{
                border-radius: 0;
                font-weight: 600;
                padding: .75rem 1.25rem;
                font-size: 0.8rem;
                transition: all 0.3s ease-in-out;
                border: none;
                &:focus{
                    box-shadow:none;
                }
                &:hover{
                    background: var(--danger)
                }

            }
        }
    }
}