
    nav.navigation{
        user-select: none;
        border-bottom:1px solid rgba(0,0,0,0.1);
        position: fixed;
        z-index:10;
        background: $bgColor;
        width: 100%;
        transition:all 0.3s ease-out;
        .nav-header{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .navbar-list{
                font-size: 0.8rem;
                color: #777;
                font-weight: 300;
                .logo{
                    font-size: 1rem;
                    font-weight: bold;
                    padding:1.5rem;
                }
                .nav-list{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    .nav-item{
                        display: inline-block;
                        color:inherit;
                        font-size:inherit;
                        padding:1.5rem 1rem;
                        .dropdown-menu{
                            top: 80px;
                            left: -18px;
                            color: inherit;
                            font-size: inherit;
                            padding: 0;
                            box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.15);
                            visibility: hidden;
                            transition: all 0.3s linear;
                            opacity: 0;
                            display: block;
                            a{
                                color: inherit;
                                font-size: inherit;
                                border-bottom: 1px solid rgba(0,0,0,0.2);
                                padding: 0.5rem;
                                font-weight: inherit;
                            }
                        }
                        &.pages:hover .dropdown-menu{
                            visibility: visible;
                            top: 60px;
                            opacity: 1;
                        }
                    }
                }
                .expand-icon{
                    align-self: center;
                    margin-right: 1rem;
                    cursor: pointer;
                }
                .expand-menu{
                    position: fixed;
                    z-index: 1000;
                    left: -255px;
                    width: 250px;
                    height: 100vh;
                    background: $bgColor;
                    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.13);
                    transition: left 0.3s linear;
                    .list{
                        padding-top:6rem;
                       .list-item{
                           background: $expandMenuColor;
                           padding:0.5rem;
                           border-bottom: 1px solid #fff;
                           color: inherit;
                           font-size: inherit;
                           font-weight: inherit;
                       } 
                       .menu{
                            background: $bgColor;
                            a{
                                color: inherit;
                                text-decoration: none;
                                display: block;
                                padding: 0.5rem;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.04);
                            }
                            height: 0;
                            overflow: hidden;
                            transition: all 0.3s ease-in-out;
                            &.expand{
                                height: 287px;
                            }
                        }
                    }
                    &.show{
                        left: 0;
                    }
                }
            }
            .user{
                display: flex;
                justify-content: flex-end;
                .search{
                    position: relative;
                    width: 240px;
                    transition: width 0.3s linear;
                    i.fa-search{
                        position: absolute;
                        top: 30px;
                        left: 26px;
                        color: #999;
                        font-size: 0.9rem;
                    }
                    input{
                        height:100%;
                        padding: 1rem 0;
                        border: none;
                        border-right:1px solid rgba(0,0,0,0.1);
                        border-left:1px solid rgba(0,0,0,0.1);
                        text-indent: 50px;
                        border-radius:0;
                    }
                }
                div{
                    border-right:1px solid rgba(0,0,0,0.1);
                    &:last-of-type{
                        border-right:0;
                    } 
                    text-align: center;
                    cursor: pointer;
                    color: #444;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 2rem;
                }
            }
        }
        &.shad{
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.17);
        }
    }

