
    nav.navigation{
        user-select: none;
        border-bottom:1px solid rgba(0,0,0,0.1);
        position: fixed;
        z-index:10;
        background: $bgColor;
        width: 100%;
        transition:all 0.3s ease-out;
        .nav-header{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .navbar-list{
                font-size: 1rem;
                color: #777;
                font-weight: 400;
                .logo{
                    font-size: 1rem;
                    font-weight: bold;
                    padding:1.5rem;
                    color: #000;
                }
                .nav-list{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    .nav-item{
                        display: inline-block;
                        color:inherit;
                        font-size:inherit;
                        padding:1.5rem 1rem;
                        .dropdown-menu{
                            top: 80px;
                            left: -18px;
                            color: inherit;
                            font-size: inherit;
                            padding: 0;
                            box-shadow:  0 2px 5px 0 rgba(0,0,0,.08);
                            visibility: hidden;
                            transition: all 0.3s linear;
                            opacity: 0;
                            display: block;
                            a{
                                color: inherit;
                                font-size: 0.9rem;
                                border-bottom:  0 2px 5px 0 rgba(0,0,0,.08);
                                padding: 0.5rem;
                                font-weight: inherit;
                            }
                        }
                        &.pages:hover .dropdown-menu{
                            visibility: visible;
                            top: 69px;
                            opacity: 1;
                        }
                        &.collections{
                            .menu-collections{
                                cursor: default;
                                position: fixed;
                                top: 100px;
                                background: #fff;
                                display: grid;
                                grid-template-columns: repeat(4,1fr);
                                width: 100%;
                                left: 0px;
                                border-top: 1px solid rgba(0, 0, 0, 0.07);
                                border-bottom: 1px solid rgba(0, 0, 0, 0.07);
                                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
                                visibility: hidden;
                                opacity: 0;
                                transition: all 0.3s linear;
                                .collection{
                                    padding: 1.5rem;
                                    border-left: 1px solid rgba(0, 0, 0, 0.07);
                                    &:first-child{
                                        border-left: 0;
                                    }
                                    &:last-child{
                                        border-left: 0;
                                    }
                                    .collection-title{
                                        text-transform: capitalize;
                                        color: #000;
                                        font-size: 1rem;
                                        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
                                        padding-bottom: .9rem;
                                        margin-bottom: 0.9rem
                                    }
                                    .collection-list{
                                        color: inherit;
                                        font-size: .9rem;
                                        padding: 0 0.5rem;
                                        .collection-item{
                                            .collection-link{
                                                text-decoration: none;
                                                color: inherit;
                                                font-size: inherit;
                                                display: block;
                                                padding: 0.25rem 0;
                                                transition: color 0.1s linear;
                                                &:hover{
                                                    color:#000;
                                                }
                                            }
                                        }
                                    }
                                    &.image{
                                        img{
                                            width: 100%;
                                        }
                                        // background: url('../img/bg-img/bg-6.jpg');
                                        // background-size: cover;
                                    }
                                }
                            }
                        }
                        &.collections:hover .menu-collections{
                            top: 72px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .expand-icon{
                    align-self: center;
                    margin-right: 1rem;
                    cursor: pointer;
                }
                .expand-menu{
                    position: fixed;
                    z-index: 1000;
                    left: -255px;
                    width: 250px;
                    height: 100vh;
                    background: $bgColor;
                    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.13);
                    transition: left 0.3s linear;
                    .list{
                        padding-top:6rem;
                       .list-item{
                           background: $expandMenuColor;
                           padding:0.5rem;
                           border-bottom: 1px solid #fff;
                           color: inherit;
                           font-size: inherit;
                           font-weight: inherit;
                       } 
                       .menu{
                            background: $bgColor;
                            a{
                                color: inherit;
                                text-decoration: none;
                                display: block;
                                padding: 0.5rem;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.04);
                                &:hover{
                                    background-color: #f8f9fa;
                                }
                            }
                            height: 0;
                            overflow: hidden;
                            transition: all 0.3s ease-in-out;
                            &.expand{
                                height: 287px;
                            }
                        }
                    }
                    &.show{
                        left: 0;
                    }
                }
            }
            .user{
                display: flex;
                justify-content: flex-end;
                .search{
                    position: relative;
                    width: 240px;
                    transition: width 0.3s linear;
                    i.fa-search{
                        position: absolute;
                        top: 30px;
                        left: 26px;
                        color: #999;
                        font-size: 0.9rem;
                    }
                    input{
                        height:100%;
                        padding: 1rem 0;
                        border: none;
                        border-right:1px solid rgba(0,0,0,0.1);
                        border-left:1px solid rgba(0,0,0,0.1);
                        text-indent: 50px;
                        border-radius:0;
                    }
                }
                div{
                    border-right:1px solid rgba(0,0,0,0.1);
                    &:last-of-type{
                        border-right:0;
                    } 
                    text-align: center;
                    cursor: pointer;
                    color: #444;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 2rem;
                }
            }
        }
        &.shad{
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.17);
        }
    }

