
    nav.navigation{
        user-select: none;
        border-bottom:1px solid rgba(0,0,0,0.1);
        position: fixed;
        z-index:10;
        background: $bgColor;
        width: 100%;
        transition:all 0.3s ease-out;
        .nav-header{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .navbar-list{
                font-size: 1rem;
                color: #777;
                font-weight: 400;
                .logo{
                    font-size: 1rem;
                    font-weight: bold;
                    padding:1.5rem;
                    color: #000;
                }
                .nav-list{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    .nav-item{
                        display: inline-block;
                        color:inherit;
                        font-size:inherit;
                        padding:1.5rem 1rem;
                        .dropdown-menu{
                            top: 80px;
                            left: -18px;
                            color: inherit;
                            font-size: inherit;
                            padding: 0;
                            box-shadow:  0 2px 5px 0 rgba(0,0,0,.08);
                            visibility: hidden;
                            transition: all 0.3s linear;
                            opacity: 0;
                            display: block;
                            border: 1px solid rgba(0,0,0,.07);
                            a{
                                color: inherit;
                                font-size: 0.9rem;
                                border-bottom: 1px solid rgba(0,0,0,.07);
                                padding: 0.5rem;
                                font-weight: inherit;
                            }
                        }
                        &.pages:hover .dropdown-menu{
                            visibility: visible;
                            top: 71px;
                            opacity: 1;
                        }
                        &.collections{
                            .menu-collections{
                                cursor: default;
                                position: fixed;
                                top: 100px;
                                background: #fff;
                                display: grid;
                                grid-template-columns: repeat(4,1fr);
                                width: 100%;
                                left: 0px;
                                border-top: 1px solid rgba(0, 0, 0, 0.07);
                                border-bottom: 1px solid rgba(0, 0, 0, 0.07);
                                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
                                visibility: hidden;
                                opacity: 0;
                                transition: all 0.3s linear;
                                .collection{
                                    padding: 1.5rem;
                                    border-left: 1px solid rgba(0, 0, 0, 0.07);
                                    &:first-child{
                                        border-left: 0;
                                    }
                                    &:last-child{
                                        border-left: 0;
                                    }
                                    .collection-title{
                                        text-transform: capitalize;
                                        color: #000;
                                        font-size: 1rem;
                                        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
                                        padding-bottom: .9rem;
                                        margin-bottom: 0.9rem
                                    }
                                    .collection-list{
                                        color: inherit;
                                        font-size: .9rem;
                                        padding: 0 0.5rem;
                                        .collection-item{
                                            .collection-link{
                                                text-decoration: none;
                                                color: inherit;
                                                font-size: inherit;
                                                display: block;
                                                padding: 0.25rem 0;
                                                transition: color 0.1s linear;
                                                &:hover{
                                                    color:#000;
                                                }
                                            }
                                        }
                                    }
                                    &.image{
                                        img{
                                            width: 100%;
                                        }
                                        // background: url('../img/bg-img/bg-6.jpg');
                                        // background-size: cover;
                                    }
                                }
                            }
                        }
                        &.collections:hover .menu-collections{
                            top: 72px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .expand-icon{
                    align-self: center;
                    margin-right: 1rem;
                    cursor: pointer;
                }
                .expand-menu{
                    position: fixed;
                    z-index: 1000;
                    left: -255px;
                    width: 250px;
                    height: 100vh;
                    background: $bgColor;
                    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.13);
                    transition: left 0.3s linear;
                    .list{
                        padding-top:6rem;
                       .list-item{
                           background: $expandMenuColor;
                           padding:0.5rem;
                           border-bottom: 1px solid #fff;
                           color: inherit;
                           font-size: inherit;
                           font-weight: inherit;
                       } 
                       .menu{
                            background: $bgColor;
                            height: 0;
                            overflow: hidden;
                            transition: all 0.3s ease-in-out;
                            a{
                                color: inherit;
                                text-decoration: none;
                                display: block;
                                padding: 0.5rem;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.04);
                                &:hover{
                                    background-color: #f8f9fa;
                                }
                            }
                            &.expand{
                                height: 287px;
                            }
                        }
                        .menu-collections{
                            background: $bgColor;
                            height: 0;
                            overflow: hidden;
                            transition: all 0.3s ease-in-out;
                            .collection{
                                padding: 1.5rem;
                                border-left: 1px solid rgba(0, 0, 0, 0.07);
                                &:first-child{
                                    border-left: 0;
                                }
                                &:last-child{
                                    border-left: 0;
                                }
                                .collection-title{
                                    text-transform: capitalize;
                                    color: #000;
                                    font-size: 1rem;
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
                                    padding-bottom: .9rem;
                                    margin-bottom: 0.9rem
                                }
                                .collection-list{
                                    color: inherit;
                                    font-size: .9rem;
                                    padding: 0 0.5rem;
                                    .collection-item{
                                        .collection-link{
                                            text-decoration: none;
                                            color: inherit;
                                            font-size: inherit;
                                            display: block;
                                            padding: 0.25rem 0;
                                            transition: color 0.1s linear;
                                            &:hover{
                                                color:#000;
                                            }
                                        }
                                    }
                                }
                                &.image{
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                            &.expand{
                                height: 883px;
                            }
                        }
                    }
                    &.show{
                        left: 0;
                    }
                    &.scroll-y{
                        overflow-y: scroll;
                        width: 260px;
                    }
                }
            }
            .user{
                display: flex;
                justify-content: flex-end;
                .search{
                    position: relative;
                    width: 240px;
                    transition: width 0.3s linear;
                    span{
                        position: absolute;
                        top: 9px;
                        left: 1px;
                        display: inline-block;
                        background: #fff;
                        padding: 1rem;
                        color: #999999;
                    }
                    input{
                        height:100%;
                        padding: 1rem 0;
                        border: none;
                        border-right:1px solid rgba(0,0,0,0.1);
                        border-left:1px solid rgba(0,0,0,0.1);
                        text-indent: 50px;
                        border-radius:0;
                    }
                }
                div{
                    border-right:1px solid rgba(0,0,0,0.1);
                    &:last-of-type{
                        border-right:0;
                    } 
                    text-align: center;
                    cursor: pointer;
                    color: #444;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 2rem;
                    &.cart{
                        position: relative;
                    }
                }
            }
        }
        &.shad{
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.17);
        }

        .overlay{
            position: fixed;
            top: 0;
            right: 0;
            z-index: -1;
            width: 100vw;
            height: 100vh;
            visibility: hidden;
            opacity: 0;
            background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
            transition: all 0.3s ease-in-out;
            &.overhead{
                visibility: visible;
                opacity: 1;
                z-index: 20;
            }
            .cart-container{
                background: #fff;
                display: grid;
                grid-template-columns: 1fr 3fr;
                width: 45%;
                height: 100vh;
                margin-left: auto;
                position: relative;
                right: -100%;
                transition: right 1s ease-in-out;
                .cart-items{
                    overflow-y: scroll;
                    scrollbar-width: thin;
                    .item{
                        height: 270px;
                        cursor: pointer;
                        .description{
                            color: #fff;
                            font-size: 0.9rem;
                            text-transform: capitalize;
                            padding: 2.5rem 0.8rem;
                            height: 100%;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                background:rgba(0, 0, 0, 0.36);
                            }
                            .title{
                                margin-bottom: 1.5rem;
                                .brand{
                                    color: #ccc;
                                    font-size: 0.7rem;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                }
                                .short-dec{
                                    font-size: 0.7rem;
                                    font-weight: bold;
                                }
                                }
                            
                            .info{
                                margin-bottom: 1.5rem;
                                .size{
                                    display: block;
                                    font-size: 0.7rem;
                                    color: #ccc;
                                    font-weight: bold;
                                }
                                .color{
                                    display: block;
                                    font-size: 0.7rem;
                                    color: #ccc;
                                    font-weight: bold;
                                }
                            }
                            .price{
                                .item-price{
                                    font-weight: bold;
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                    .item-1{
                        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/product-img/product-1.jpg');
                        background-size: cover;
                    }
                    .item-2{
                        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/product-img/product-2.jpg');
                        background-size: cover;
                    }
                    .item-3{
                        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/product-img/product-3.jpg');
                        background-size: cover;
                    }
                }
                .cart-summary{

                }
                &.appear{
                    right: 0;
                }
            }
        }
    }

