
    nav.navigation{
        border-bottom:1px solid rgba(0,0,0,0.1);
        position: fixed;
        width: 100%;
        transition:all 0.3s ease-out;
        .nav-header{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .navbar-list{
                padding:1.5rem;
                flex:0 0 50%;
                .logo{
                    font-size: 1.25rem;
                    font-weight: bold;
                }
                .nav-list{
                    list-style: none;
                    margin: 0;
                    font-size: 1rem;
                    color: #777;
                    font-weight: 300;
                    .nav-item{
                        display: inline-block;
                        margin-right:2rem;
                        color:inherit;
                        font-size:inherit;
                        &:last-child{
                            margin-right:0;
                        }
                    }
                }
                .expand-icon{
                    width: 45px;
                    align-self: center;
                    margin-left: 1rem;
                    cursor: pointer;
                    span{
                        background:#999;
                        display:block;
                        height:4px;
                        margin-bottom:5px;
                        &:last-child{
                            margin-bottom:0;
                        }
                    }
                }
            }
            .user{
                flex:0 0 50%;
                min-width:50%;
                display: flex;
                justify-content: flex-end;
                .search{
                    position: relative;
                    width: 240px;
                    transition: width 0.3s ease-out;
                    i.fa-search{
                        position: absolute;
                        top: 31px;
                        left: 26px;
                        color: #999;
                    }
                    input{
                        height:100%;
                        padding: 1rem 0;
                        border: none;
                        border-right:1px solid rgba(0,0,0,0.1);
                        border-left:1px solid rgba(0,0,0,0.1);
                        text-indent: 50px;
                        border-radius:0;
                    }
                }
                div{
                    border-right:1px solid rgba(0,0,0,0.1);
                    &:last-of-type{
                        border-right:0;
                    } 
                    text-align: center;
                    cursor: pointer;
                    color: #444;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 2rem;
                }
            }
        }
        &.shad{
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.17);
        }
    }

