.new-collection{
    top: 73px;
    .pull-up{
        margin-top: -30%;
        .sub-title{
            color: #828282;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 1.5rem;
        }
        .main-title{
            font-weight: 600 !important;
            font-size: 3.5rem;
            margin-bottom: 3rem;
        }
        .view{
            border-radius: 0;
            padding: 0.75rem 1.25rem;
            font-size: 0.8rem;
            font-weight: 600;
            outline: 0;
            border: 0;
            transition: background 0.3s ease-in-out;
            &:hover{
                background: var(--red);
            }
        }
    }
}