.popular-products{
    padding: 4.5rem 0;
    button{
        display: none;
    }
    user-select: none;
    .popular-products-title{
        margin: 0;
        text-align: center;
        padding: 2rem 0;
        text-transform: capitalize;
        font-weight: 600;
    
    }
    .slider-container{
        &:clicked{
            cursor: grab;
        }
        &>div.card{
            border: 0;
            position: relative;
            .wishlist{
                position: absolute;
                top: 12px;
                right: 30px;
                cursor: pointer;
                box-shadow: 0 0 5px 0 rgba($secondaryColor, 0.79);
                background: #fff;
                border-radius: 5px;
                i{
                    color: #ccc;
                    font-size: .9rem;
                    padding: 0.35rem 1rem
                }
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }
            .add-card{
                position: absolute;
                top: 48px;
                right: 30px;
                cursor: pointer;
                display: inline-block;
                background: #fff;
                box-shadow: 0 0 5px 0 rgba($mainColor, 0.79);
                border-radius: 5px;
                i{
                    color: #ccc;
                    font-size: .9rem;
                    padding: .35rem 1.05rem;
                }
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }
            &:hover .wishlist,
            &:hover .add-card{
                visibility: visible;
                opacity: 1;
            }
            .card-img-top{
                border-radius: 0;
            }
            .card-body{
                padding: 0;
                padding-top:1rem;
                font-weight: 600;
                .brand{
                    color: rgba(0, 0, 0, 0.33);
                    font-size: 0.8rem;
                }
                .card-text{
                    margin-bottom: 0.5rem;
                }
                .price{
                    font-weight: 600;
                    font-size: .9rem
                }
            }
        }
        .new{
            position: relative;
            &:before{
                content: 'new';
                position: absolute;
                top: 14px;
                left: 31px;
                display: inline-block;
                background: var(--blue);
                color: #fff;
                width: 50px;
                height: 25px;
                font-size: .75rem;
                text-transform: capitalize;
                text-align: center;
                line-height: 25px;
                font-weight: 600;
            }
        }
        .discount{
            position: relative;
            .discount-text{
                position: absolute;
                top: 14px;
                left: 31px;
                display: inline-block;
                background: var(--danger);
                color: #fff;
                width: 50px;
                height: 25px;
                font-size: .75rem;
                text-transform: capitalize;
                text-align: center;
                line-height: 25px;
                font-weight: 600;
            }
        }
    }
}