body{
    @include mXl{
    
    }
    @include mLg{
      
    }
    @include mMd{
        nav.navigation{
            .nav-header{
                grid-template-columns: 1fr 4fr;
            }
        }
    }
    @include mSm{
        nav.navigation{
            .nav-header{
                display:block;
                .navbar-list{
                    border-bottom:1px solid rgba(0,0,0,0.1);
                    justify-content: space-between;
                }
                .user{
                    padding:0 10px;
                    .search{
                        i.fa-search{
                            top: 10px;
                        }
                    input{
                        padding:0.4rem 0;
                        &::placeholder{
                            font-size: 0.7rem;
                        }
                    }
                    }
                    &>div{
                        padding: 0 0.9rem;
                    }
                }
            }
        }
    }
    @include mXs{
       
    }
}