body{
    @include mXl{
    
    }
    @include mLg{
        .categories{
            .head-section{
                font-size: 2.5rem;
            }
        }
        .global-sale{
            .sale{
                .sale-content{
                    margin-right: 7rem;
                }
            }
        }
    }
    @include mMd{
        nav.navigation{
            .nav-header{
                grid-template-columns: 1fr 4fr;
            }
            
        }
        .new-collection{
            .title{
                .sub-title{
                    margin-bottom: 1rem;
                }
                .main-title{
                    margin-bottom: 2rem;
                    font-size:2.5rem;
                }
            }
        }
        .categories{
            .head-section{
                font-size: 2rem;
            }
            .clothes,
            .shoses,
            .accessories{
                height: 250px;
            }
        }
        .global-sale{
            .sale{
                .sale-content{
                    margin-right: 5rem;
                    .sale-title{
                        font-size: 2.5rem;
                    }

                }
            }
        }
        .top-brands{
            .brand{
                img{
                    width: 70%;
                }
            }
        }
    }
    @include mSm{
        nav.navigation{
            .nav-header{
                display:block;
                .navbar-list{
                    min-width: 100%;
                    border-bottom:1px solid rgba(0,0,0,0.1);
                    justify-content: space-between;
                }
                .user{
                    min-width: 100%;
                    border: 1px solid rgba(0,0,0,.1);
                    justify-content: center;
                    display: flex;
                    position: fixed;
                    bottom: 0;
                    left: 0; 
                    right: 0;
                    z-index: 25;
                    background: #fff;
                    .search{
                        span{
                            top: 15px;
                            left: 1px;
                            padding: .25rem 1rem;
                        }
                        input{
                            padding:0.4rem 0;
                            &::placeholder{
                                font-size: 0.7rem;
                            }
                        }
                    }
                    &>div{
                        padding: 1.5rem;
                        
                        position: relative;
                        &.like{
                            .no-of-items{
                                top: 10px;
                                right: 13px;
                            }
                            .wish-container{
                                bottom: 120%;
                                right: 0;
                                top: auto;
                                &.hover-wish{
                                    bottom: 98%;
                                    visibility: visible;
                                    opacity: 1;
                                    top: auto;
                                    right: -117px;
                                }
                            }
                        }
                        &.cart{
                            .no-of-items{
                                top: 10px;
                                right: 13px;
                            }
                            .cart-container{
                                bottom: 120%;
                                right: 0;
                                top: auto;
                                &.hover-cart{
                                    bottom: 98%;
                                    visibility: visible;
                                    opacity: 1;
                                    top: auto;
                                    right: -117px;
                                }
                            }
                        }
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            display: inline-block;
                            width: 0;
                            height: 3px;
                            background: $mainColor;
                            transition: all 0.3s ease-in-out;
                        }
                        &:hover:after{
                            width: 100%;                            
                        }
                    }
                }
            }
        }
        a#scrollup{
            right: 31px;
            bottom: 79px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 0.75rem;
        }
        .new-collection{
            .title{
                .sub-title{
                    margin-bottom: 0.25rem;
                }
                .main-title{
                    margin-bottom: 1rem;
                    font-size: 2.5rem;
                }
            }
        }
        .categories{
            .head-section{
                font-size: 2rem;
            }
            .clothes,
            .shoses{
                margin-bottom: 1rem
            }
        }
        .global-sale{
            .sale{
                height: 400px;
                .sale-content{
                    margin-right: 4rem;
                    .sale-discount{
                        font-size: 1rem;
                    }
                    .sale-title{
                        font-size: 2.5rem;
                    }
                }
            }
        }
        footer{
            .pages{
               margin-bottom: 1.5rem;
            }
            .order-status,
            .payment-option{
                margin-bottom: 1.5rem;
            }
            .subscribe{
                margin-bottom: 2.5rem;
            }
        }
    }
    @include mXs{
        nav.navigation{
            .nav-header{
                .user{
                    .search{
                        min-width: 184px;
                    }
                    &>div{
                        &.like{
                            .wish-container{
                                &.hover-wish{
                                    bottom: 98%;
                                    visibility: visible;
                                    opacity: 1;
                                    top: auto;
                                    right: -117px;
                                }
                            }
                        }
                        &.cart{
                            .cart-container{
                                &.hover-cart{
                                    bottom: 98%;
                                    visibility: visible;
                                    opacity: 1;
                                    top: auto;
                                    right: -63px;
                                }
                            }
                        }
                    }
                }    
            }
        }
        .categories{
            .clothes,
            .shoses,
            .accessories{
                height: 300px;
            }
        }
        .global-sale{
            .sale{
                .sale-content{
                    margin-right:0;
                }
            }
        }
        .top-brands{
            .brand{
                img{
                    width: 80%;
                }
            }
        }
    }
}