body{
    @include mXl{
    
    }
    @include mLg{
      
    }
    @include mMd{
        nav.navigation{
            .nav-header{
              .navbar-list{
                flex:0 0 20%;
              }
              .user{
                flex:0 0 80%;
              }
            }
        }
    }
    @include mSm{
        nav.navigation{
            .nav-header{
                display:block;
                .navbar-list{
                    border-bottom:1px solid rgba(0,0,0,0.1);
                    justify-content: space-between;
                }
                .user{
                    .search{
                        i.fa-search{
                            top: 21px;
                        }
                    }
                }
            }
        }
    }
    @include mXs{
       
    }
}