body{
    @include mXl{
    
    }
    @include mLg{
      
    }
    @include mMd{
        nav.navigation{
            .nav-header{
                grid-template-columns: 1fr 4fr;
            }
            .cart-container{
            }
        }
        .new-collection{
            .pull-up{
                .sub-title{
                    margin-bottom: 1rem;
                }
                .main-title{
                    margin-bottom: 2rem;
                    font-size:2.5rem;
                }
            }
        }
    }
    @include mSm{
        nav.navigation{
            .nav-header{
                display:block;
                .navbar-list{
                    min-width: 100%;
                    border-bottom:1px solid rgba(0,0,0,0.1);
                    justify-content: space-between;
                }
                .user{
                    min-width: 100%;
                    padding:0 10px;
                    .search{
                        span{
                            top: 2px;
                            left: 1px;
                            padding: 0.25rem 0.5rem;
                        }
                        input{
                            padding:0.4rem 0;
                            &::placeholder{
                                font-size: 0.7rem;
                            }
                        }
                    }
                    &>div{
                        padding: 0 0.9rem;
                        &.cart{
                            .no-of-items{
                                top: -1px ;
                                right: 5px ;
                            }
                        }
                    }
                }
            }
            .cart-container{
                width: 100%;
            }
        }
        .new-collection{
            top: 110px;
            .holder-content{
                img{
                    min-height:350px;
                }
            }
            .pull-up{
                margin-top: -35%;
                .sub-title{
                    margin-bottom: 0.25rem;
                }
                .main-title{
                    margin-bottom: 1rem;
                    font-size:1.5rem;
                }
            }
        }
    }
    @include mXs{
        nav.navigation{
            .cart-container{
                min-height:100px;
                display: block;
                padding: 2.5rem;
                .cart-items{
                    .item{
                        grid-template-columns: 2fr 5fr 2fr;
                        .item-desc{
                            .color{
                                display: none;
                            }
                        }
                        .remove{
                            display: none;
                        }
                    }
                }
                
            }
        }
        .new-collection{
            .holder-content{
                width: 570px;
                .pull-up{
                    margin-top: -40%;
                }
            }
        }
    }
}