body{
    @include mXl{
    
    }
    @include mLg{
      
    }
    @include mMd{
        nav.navigation{
            .nav-header{
                grid-template-columns: 1fr 4fr;
            }
            .cart-container{
                width: 550px;
            }
        }
        .new-collection{
            height: 500px;
            .pull-up{
                .sub-title{
                    margin-bottom: 1rem;
                }
                .main-title{
                    margin-bottom: 2rem;
                    font-size:2.5rem;
                }
            }
        }
    }
    @include mSm{
        nav.navigation{
            .nav-header{
                display:block;
                .navbar-list{
                    .logo{
                        padding: 1rem;
                    }
                    min-width: 100%;
                    border-bottom:1px solid rgba(0,0,0,0.1);
                    justify-content: space-between;
                }
                .user{
                    min-width: 100%;
                    padding:0 10px;
                    .search{
                        span{
                            top: 2px;
                            left: 1px;
                            padding: 0.25rem 0.5rem;
                        }
                        input{
                            padding:0.4rem 0;
                            &::placeholder{
                                font-size: 0.7rem;
                            }
                        }
                    }
                    &>div{
                        padding: 0 0.9rem;
                        &.cart{
                            .no-of-items{
                                top: -1px ;
                                right: 5px ;
                            }
                        }
                    }
                }
            }
            .cart-container{
                width: 400px;
            }
        }
        .new-collection{
            height: 400px;
            .pull-up{
                .sub-title{
                    margin-bottom: 0.25rem;
                }
                .main-title{
                    margin-bottom: 1rem;
                    font-size:1.5rem;
                }
            }
        }
    }
    @include mXs{
        nav.navigation{
            .cart-container{
                width: 100%;
                min-height:100px;
                display: block;
                padding: 2.5rem;
                .cart-items{
                    display: grid;
                    grid-template-columns: repeat(3,3fr);
                    grid-gap: 20px;
                    overflow-y: none;
                    .item{
                        .description{
                            padding: 1rem 0.8rem;
                            &>div{
                                margin-bottom: 0 !important;
                            }
                        }
                    }
                }
                .cart-summary{
                    &>div{
                        margin-bottom: 0.5rem;
                        &:last-child{
                            margin-bottom: 0
                        }
                    }
                }
            }
        }
        .new-collection{
           .pull-up{
            //    .view{
            //        font-size: 0.5rem;
            //        padding: 0.25rem 0.5rem;
            //    }
           }
        }
    }
}