// shop title section styles
.shop-title{
    background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url('../img/bg-img/breadcumb.jpg');
    height: 140px;
    .title{
        font-weight: 600;
        font-size: 1.8rem;
    }
}
// products section styles
.products{
    padding: 4rem 0;
    .products-head{
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 20px;
        .product-no{
            align-self: center;
            .no{
                color: $mainColor;
                margin-right: 0.5rem;
            }
        }
        .drop{
            display: flex;
            justify-content: flex-end;
            .sort-by{
                margin-right: 1rem;
                align-self: center;
            }
            .menu{
                font-size: 1rem;
                position: relative;
                .menu-head{
                    cursor: pointer;
                    i{
                        margin-left: 0.2rem;
                        transition: all 0.3s ease-in-out;
                        &.rotate{
                            transform: rotateZ(180deg);
                        }
                    }
                }
                .menu-list{
                    position: absolute;
                    margin: 0;
                    border: 1px solid #ddd;
                    z-index: 5;
                    background: #F6F6F6;
                    width: 210px;
                    top: 32px;
                    right: 0;
                    text-align: left;
                    transition: all 0.3s ease-in-out;
                    height: 0;
                    overflow: hidden;
                    opacity: 0;
                    &.face{
                        height: 161px;
                        opacity: 1; 
                    }
                    .menu-item{
                        padding: 0.5rem 1rem;
                        cursor: pointer;
                        &.active{
                            color: $mainColor;
                        }
                    }

                }
            }
        }
    }
    .product-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
        .card{
            border: 0;
            position: relative;
            .wishlist{
                position: absolute;
                top: 12px;
                right: 10px;
                cursor: pointer;
                background: #fff;
                border-radius: 5px;
                i{
                    color: #ccc;
                    font-size: .9rem;
                    padding: 0.35rem 1rem
                }
                &.selected{
                    visibility: visible;
                    opacity: 1;
                    i{
                        color: $secondaryColor;
                    }
                }
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }
            .add-card{
                position: absolute;
                top: 48px;
                right: 10px;
                cursor: pointer;
                display: inline-block;
                background: #fff;
                border-radius: 5px;
                i{
                    color: #ccc;
                    font-size: .9rem;
                    padding: .35rem 1.05rem;
                }
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                &.selected{
                    visibility: visible;
                    opacity: 1;
                    i{
                        color: $mainColor;
                    }
                }

            }
            &:hover .wishlist:not(.selected),
            &:hover .add-card:not(.selected){
                visibility: visible;
                opacity: 1;
            }
            .card-img-top{
                border-radius: 0;
            }
            .card-body{
                padding: 0;
                font-weight: 600;
                .brand{
                    color: rgba(0, 0, 0, 0.33);
                    font-size: 0.8rem;
                }
                .card-text{
                    margin-bottom: 0.5rem;
                    display: block;
                    text-decoration: none;
                    color: #000;
                }
                .price{
                    font-weight: 600;
                    font-size: .9rem
                }
            }
        }
        .new{
            position: relative;
            &:before{
                content: 'new';
                position: absolute;
                top: 14px;
                left: 31px;
                display: inline-block;
                background: var(--blue);
                color: #fff;
                width: 50px;
                height: 25px;
                font-size: .75rem;
                text-transform: capitalize;
                text-align: center;
                line-height: 25px;
                font-weight: 600;
            }
        }
        .discount{
            position: relative;
            .discount-text{
                position: absolute;
                top: 14px;
                left: 31px;
                display: inline-block;
                background: var(--danger);
                color: #fff;
                width: 50px;
                height: 25px;
                font-size: .75rem;
                text-transform: capitalize;
                text-align: center;
                line-height: 25px;
                font-weight: 600;
            }
        }
    }
}