.shop-title{
    background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url('../img/bg-img/breadcumb.jpg');
    height: 140px;
    .title{
        font-weight: 600;
        font-size: 1.8rem;
    }
}