/*************************
*** Text Classes
**************************/
.text-capitalize{
    text-transform: capitalize !important;
}
.text-uppercase{
    text-transform: uppercase !important;
}

.text-right{
    text-align: right !important;
}