/*************************************************
***************** Color varibles *****************
*************************************************/
$bgColor: #fff;
$expandMenuColor: #F2F4F8;
$mainColor: #007BFF;
$secondaryColor: #DC3545;
$bgSecondaryColor:#F5F7F9;