@import 'import/global';
@import 'import/var';
@import 'import/mixin';
@import 'import/utilities';
@import 'import/button';



body{
    font-family: "Poppins", sans-serif;
    @import 'import/navbar';
    @import 'import/new-collection';
    min-height:2500px;
    overflow-x: hidden;
    padding-top: 72px;
}
@import 'import/responsive';