@import 'import/global';
@import 'import/var';
@import 'import/mixin';
@import 'import/utilities';
@import 'import/button';



body{
    font-family: "Poppins", sans-serif;
    // import homepage styles
    @import 'import/navbar';
    @import 'import/scrollup';
    @import 'import/new-collection';
    @import 'import/categores';
    @import 'import/global-sale';
    @import 'import/popular-products';
    @import 'import/brands';

    // import shop page styles
    @import 'import/shop';

    // import single prodcut style
    @import './import/single-product';

    // import checkout page styles
    @import './import/checkout';



    @import 'import/footer';

    overflow-x: hidden;
    padding-top: 73px;
}
@import 'import/responsive';