@import 'import/global';
@import 'import/var';
@import 'import/mixin';
@import 'import/utilities';
@import 'import/button';



body{
    font-family: "Poppins", sans-serif;
    @import 'import/navbar';
    @import 'import/new-collection';
    @import 'import/categores';
    @import 'import/global-sale';
    @import 'import/popular-products';
    @import 'import/brands';
    @import 'import/footer';

    overflow-x: hidden;
    padding-top: 73px;
}
@import 'import/responsive';